﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RoomAlredayBooked.aspx.cs" Inherits="RoomAlredayBooked" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h2>Sorry, Room already booked</h2>
        <asp:Button ID="btnOk" runat="server" Text="OK" OnClick="btnOk_Click" />
    
    </div>
    </form>
</body>
</html>
